pkgbase = hull
	pkgdesc = A local environment for your sites & apps , native router, DNS and services
	pkgver = 0.9.5
	pkgrel = 1
	url = https://github.com/CavenRE/hull
	install = hull.install
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	makedepends = git
	depends = docker
	depends = docker-compose
	source = hull-0.9.5.tar.gz::https://github.com/CavenRE/hull/archive/refs/tags/v0.9.5.tar.gz
	sha256sums = SKIP

pkgname = hull
